<h1>Add a Term to the list</h1>
<hr>
<form action="/add_term_submit" method="post">
  <label>Enter term:</label>
  <input type="text" name="input-term" required>
  <label>Enter it's definition:</label>
  <input type="text" name="input-def">
  <button type="submit">Submit</button>
</form>
