<!DOCTYPE html>
<html>
  <head>
    <title>Word Finder</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <a href="/">Word List</a>
      <a href="/add_term">Add A Word</a>
    </div>
  </body>
</html>
